#header{
    text-align: center;
    margin: auto;
    vertical-align: middle;

}
#header h1{
    color: white;
    font-family: fantasy;
}

#content {
    margin-bottom: 300px;
    width: 100%;


}

#footer {
    clear: both;
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    font-size: 10px;
    color: #c9c9c9;
    border-top: 1px solid #efefef;
    padding: 13px 25px;
    line-height: 18px;
    margin-top: 200px;
}
#footer a {
    color: #c9c9c9;
    text-decoration: none;

}
#footer a:hover {
    color: #db6d16;
}
#footer #altnav {
    width: 350px;
    float: right;
    text-align: right;
}
#footer p{
    margin-right: 350px;
}
